*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F5F5F5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 177px;
    height: 70px;
    background-color: pink;
    float: left;
    background: url(https://s2.music.126.net/style/web2/img/frame/topbar.png?7ffbfa72872896d428cebadecd571a42) no-repeat;
}
.input{
    outline: none;
}
textarea{
    outline: none;
    resize:none;
}

/* 加入播放列表图标 搜索建议单曲 歌手 歌单 专辑 */
.addSongLogo,.serSong,.serAr,.serPlaylist,.serAl{
    background: url('https://s2.music.126.net/style/web2/img/icon.png?4f0dc585177245959cf853bf25d86a17') no-repeat 5px -698px;
}
.addSongLogo:hover{
    background-position: -17px -698px;
}
.serAr{
    background-position: -49px -299px;
}
.serPlaylist{
    background-position: -49px -317px;
}
.serAl{
    background-position: -34px -318px;
}
.serSong{
    background-position: -34px -297px;
}



/* 收藏图标 已经收藏图标 分享图标 下载图标 播放图标公共背景图*/
.collectLogo,.collectedLogo,.shareLogo,.downloadLogo,.playLogo,.mvLogo{
    background: url("https://s2.music.126.net/style/web2/img/table.png?3a5f37405892f2dbd5cfd501bf28124a") no-repeat 0px 0px;
}
/* 收藏图标 */
.collectLogo{
    background-position: 2px -172px;
}
.collectLogo:hover{
    background-position: -18px -172px;
}

/* 已经收藏图标 */
.collectedLogo{
    background-position: -38px -172px;
}

/* 分享图标 */
.shareLogo{
    background-position: 2px -193px;
}
.shareLogo:hover{
    background-position: -18px -193px;
}
/* 下载图标 */
.downloadLogo{
    background-position: -81px -172px;
}
.downloadLogo:hover{
    background-position: -104px -172px;
}
/* 播放图标 */
.playLogo{
    background-position: 2px -103px;
}
.playLogo:hover{
    background-position: 2px -128px;
}
/* mvlogo */
.mvLogo{
    display: inline-block;
    vertical-align: middle;
    width: 22.5px;
    height: 17px;
    background-position: 0px -151px;
}
.mvLogo:hover{
    background-position: -30px -151px;
}

/* 单行超出用省略号 */
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 分页 */
.f-page {
    height: 26px;
    /* width: 100%; */
    clear: both;
    margin-top: 40px;
    /* background-color: pink; */
    text-align: center;
    margin-bottom: 100px;
}

.f-page-c {
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    /* background-color: yellow; */

}

.f-page-c a {
    cursor: pointer;
    float: left;
    line-height: 12px;
    margin-left: 4px;
    padding: 6px 10px;
    border: 1px solid #F2F2F2;
}

.f-page-c a:hover {
    border: 1px solid black;
}

.f-page-c span {
    margin-left: 20px;
    line-height: 26px;
}

.f-page-c a:nth-child(1) {
    margin-left: 0px;
}

.f-page-c input {
    width: 50px;
    outline: none;
}

/* 控制无前一页 无后一页 阻止点击 */
.f-page .f-page-c .disable {
    background-color: #EAEAEA;
    color: #CACDD4;
    pointer-events: none;
}

/* 视频播放图标 */
.mvPlayLogo{
    background: url('https://s2.music.126.net/style/web2/img/ie6/icn_ply5.png?d9b4cc7b04ec89bcef0f205b28f79454') no-repeat 0px 0px;
}
.mvPlayLogo:hover{
    background:url('https://s2.music.126.net/style/web2/img/ie6/icn_ply5_hvr.png?356f6b6193004ba0322a4d7a087043de') no-repeat 0px 0px;
}

/* 布局盒子 */
.con{
    width: 980px;
    /* height: 1200px; */
    margin: 0 auto;
    border: 1px solid #D3D3D3;
    border-top: none;
    background-color: #FFFFFF;
}

.con-l{
        width: 640px;
        /* height: 1000px; */
        float: left;
        border-right: 1px solid #D3D3D3;
        padding: 47px 30px 40px 39px;

}
.con-r{
        width: 200px;
        height: 100%;
        float: left;
        padding: 20px 40px 40px 30px;
}

/* 歌单详情mv图标 ,视频播放量图标,*/
.mvDetailLogo,.videoPlaycountLogo{
    background:url('https://s2.music.126.net/style/web2/img/icon2.png?96981c0650f794f754167a874229154c') no-repeat 0px 0px;
    
}
.mvDetailLogo{
    background-position: -229px -477px;
    display: inline-block;
    width: 35px;
    height: 28px;
    vertical-align: middle;

}
/* .mvPlayLogo{
    background-position: -229px -473px;
    display: inline-block;
    width: 35px;
    height: 28px;
    vertical-align: bottom;

} */
.videoPlaycountLogo{
    background-position: -59px -307px;
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
}


/* 点赞图标  已经点赞图标(mv) */
.likeLogo,.likedLogo{
    background: url("https://s2.music.126.net/style/web2/img/button2.png?c92f0edeb3521c865c60f0f1387b10ca") no-repeat 0px 0px;
}
.likeLogo{
    background-position: 3px -94px;
}
.likedLogo{
    background-position: -27px -94px;
}

/* 评论样式 */
.sdc-cty-t {
    height: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    /* background-color: yellow; */
    font-size: 20px;
    border-bottom: 2px solid #C20C0C;
}

.sdc-cty-t span {
    font-size: 12px;
    color: #B57E66;
    margin-left: 20px;
}

.sdc-cty-m {
    height: 98px;
    /* background-color: blue; */
}

.sdc-cty-m img {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom: 12px;

}

.sdc-cty-m textarea {
    float: right;
    height: 50px;
    width: 570px;
    padding: 5px 5px;
}

.sdc-cty-m button {
    float: right;
    margin-top: 4px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border: 1px solid #999B99;
    background-color: #3383CF;
}

.sdc-cty-m button:hover {
    background-color: #5AA4E9;
}

.sdc-cty-g-body-titile {
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #999B99;
    margin-bottom: 10px;
}

.sdc-cty-g-body-item {
    border-bottom: 1px solid #999B99;
    margin-bottom: 10px;
}

.sdc-cty-g-body-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.sdc-cty-g-b-i-b {
    float: right;
    width: 580px;
    /* height: 60px; */
    font-size: 12px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.sdc-cty-g-b-i-b a {
    cursor: pointer;
    font-size: 12px;
    color: #0C73C2;

}

.sdc-cty-g-b-i-b a:hover {
    text-decoration: underline;
}

.sdc-cty-g-b-i-b p {
    /* height: 40px; */
    margin-top: 20px;
    padding: 10px 20px;
    color: #666666;
    background-color: #F4F4F4;
}

.sdc-cty-g-b-i-b p a {
    color: #0C73C2;
}

.sdc-cty-g-b-i-b div {
    margin-top: 20px;

}

.sdc-cty-g-b-i-b div span:nth-child(1) {
    float: left;
    color: #999999;
}

.sdc-cty-g-b-i-b div span:nth-child(2),
.sdc-cty-g-b-i-b div span:nth-child(3) {
    float: right;
    cursor: pointer;
}

.sdc-cty-g-b-i-b div span:nth-child(3) {
    /* background-color: green; */
    margin-right: 20px;
    /* padding-left: 10px; */

}

.sdc-cty-g-b-i-b div span:nth-child(3) span {
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 14px;
    background: url("https://s2.music.126.net/style/web2/img/icon2.png?96981c0650f794f754167a874229154c") no-repeat 0px 0px;
}

.sdc-cty-g-b-i-b div span:nth-child(3) .content-like {
    background-position: -150px 0;
}

.sdc-cty-g-b-i-b div span:nth-child(3) .content-liked {
    background-position: -170px 0;
}

.sdc-cty-g-b-i-b div span:nth-child(2) {
    color: #333333;
}

.sdc-cty-g-b-i-b div span:nth-child(2):hover {
    text-decoration: underline;
}

.sdc-cty-n-body-titile {
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #999B99;
    margin-bottom: 10px;
}

/* 专辑图标 ,榜单更新时间图标*/
.albumLogo,.updateLogo{
    background: url('https://s2.music.126.net/style/web2/img/icon.png?4f0dc585177245959cf853bf25d86a17') no-repeat 0px 0px;
}
.albumLogo{
    display: inline-block;
    width: 60px;
    height: 26px;
    vertical-align: bottom;
    background-position: 0px -185px;
}
.updateLogo{
    display: inline-block;
    width: 13px;
    height: 16px;
    vertical-align: middle;
    background-position: -70px -140px;
}


/* 歌曲列表样式（ar-song） */
.a-h-w-b-item:nth-child(2n) {
    background-color: #F7F7F7;
}

.a-h-w-b-item>span {
    float: left;
    font-size: 12px;
    padding: 6px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.a-h-w-b-item>span:nth-child(1) {
    width: 74px;
    cursor: default;
}

.a-h-w-b-item>span:nth-child(1) span {
    float: right;
    width: 21.5px;
    height: 17px;
}


.a-h-w-b-item>span:nth-child(2) {
    width: 278px;
}

.a-h-w-b-item>span:nth-child(2):hover {
    text-decoration: underline;
}

.a-h-w-b-item>span:nth-child(3) {
    width: 100px;
    text-align: center;
}

.a-h-w-b-item>span:nth-child(4) {

    width: 108px;
}

.a-h-w-b-item>span:nth-child(4):hover {
    text-decoration: underline;
}

.a-h-w-func {
    display: none;
}

.a-h-w-b-item:hover .a-h-w-func {
    display: inline-block;
}

.a-h-w-b-item:hover .a-h-w-dt {
    display: none;
}

.a-h-w-func span {
    float: left;
    width: 22.5px;
    height: 16px;
}

/* 歌手页面中歌手类型前面的小红点,被点击与为被点击两种状态 */
.ars-redLogo,.ars-rededLogo{
    background: url('https://s2.music.126.net/style/web2/img/singer.png?053b203265a94de34fe19894fa5e55ba') no-repeat 1px 1px;
    display: inline-block;
    height: 6px;
    width: 6px;
    vertical-align: middle;
}
.ars-redLogo{
    background-position: -12px -43px;
}
.ars-rededLogo{
    background-position: -12px -13px;
}


/*那一条红线*/
.bar{
    height: 10px;
    background-color: #C20C0C;
}

/* 歌单收听人数图标 ,歌单播放图标 */
.playlistPerNumLogo,.playlistPlayLogo,.fnalLLogo,.fnalRLogo{
    background:url('https://s2.music.126.net/style/web2/img/iconall.png?3f1d5d84259dc9096d6c9970b24807c5') no-repeat 0px 0px;
}
/*  歌单收听人数图标*/
.playlistPerNumLogo{
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 14px;
    background-position: 0px -23px;
}
/* 歌单播放图标 */
.playlistPlayLogo{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 19px;
    background-position: 0px 1px;
}
/* 新碟上架的左右箭头 推荐页面榜单名下面的播放图标，收藏图标*/
.fnalLLogo,.fnalRLogo,.ftpbfLogo,.ftpscLogo{
    background: url('https://s2.music.126.net/style/web2/img/index/index.png?90d1972e65fbe341a346fa7c462c41e5') no-repeat 0px 0px;
}
/* 新碟上架左箭头 */
.fnalLLogo{
    width: 17px;
    height: 17px;
    background-position: -260px -75px;
}
.fnalLLogo:hover{
    background-position: -280px -75px;
}
/* 新碟上架右箭头 */
.fnalRLogo{
    width: 17px;
    height: 17px;
    background-position: -300px -75px;
}
.fnalRLogo:hover{
    background-position: -320px -75px;
}
/* 推荐页面榜单名下面的播放图标 */
.ftpbfLogo{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -267px -205px;
}
.ftpbfLogo:hover{
    background-position: -267px -235px;
}
/* 推荐页面榜单名下面的收藏图标 */
.ftpscLogo{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -300px -205px;
}
.ftpscLogo:hover{
    background-position: -300px -235px;
}

/* 歌单风格 图标 */
.fg1,.fg2,.fg3,.fg4,.fg5{
    background: url('https://s2.music.126.net/style/web2/img/icon.png?0b04f72ede1a30e70dd102c34f972741') no-repeat 0px 0px;
}
.fg1{
    background-position:-20px -735px;
}
.fg2{
    background-position: 0 -60px;
}
.fg3{
    background-position: 0 -88px;
}
.fg4{
    background-position: 0 -117px;
}
.fg5{
    background-position: 0 -141px;
}

